<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Laura Todd</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="http://LauraTodd.github.io/otherprojects/codeAcademy/index.html" target="_blank">Code Academy</a></li>
      <li><a href="http://LauraTodd.github.io/otherprojects/ticTacToe/index.html" target="_blank">Tic Tac Toe</a></li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">JS Questions
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://LauraTodd.github.io/otherprojects/jsQuestions/index.html" target="_blank">Week 3 Questions</a></li>
          <li><a href="http://LauraTodd.github.io/otherprojects/jsQuestions/week5Questions.html" target="_blank">Week 5 Questions</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Take an Order
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://LauraTodd.github.io/otherprojects/takeAnOrder/takeAnOrderBootstrap.html" target="_blank">Take An Order Bootstrap</a></li>
          <li><a href="http://LauraTodd.github.io/otherprojects/takeAnOrder/takeAnOrderRegular.html" target="_blank">Take An Order Regular</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Twitter Bootstrap
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://LauraTodd.github.io/otherprojects/twitterBootstrap/index.html" target="_blank">Week 3</a></li>
          <li><a href="http://LauraTodd.github.io/otherprojects/twitterBootstrap/carousel.html" target="_blank">Carousel</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>