<div class="carousel-inner">
            <div class="item active">
                <img src="images/corgi1.png" alt="First Slide">
            </div>
            <div class="item">
                <img src="images/corgi2.png" alt="Second Slide">
            </div>
            <div class="item">
                <img src="images/corgi3.png" alt="Third Slide">
            </div>
            <div class="item">
                <img src="images/corgi4.png" alt="Fourth Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>