 <nav>  
<ul class="nav nav-pills">

  <li role="presentation" id="homePage"><a href="index.html" class="glyphicon glyphicon-home" aria-hidden="true">
      
      
      Home</a></li>
    
  <li role="presentation" id="storePage"><a href="store.html" class="glyphicon glyphicon-home" aria-hidden="true">
      
      Store</a></li>
      
  <li role="presentation" id="shopPage"><a href="shop.html" class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
      
      Shop</a></li>

  <li role="presentation" id="favourites"><a href="favourites.html" class="glyphicon glyphicon-star" aria-hidden="true">
      
      Favourites</a></li>
    
      <li role="presentation" id="goback"><a href="LauraTodd.github.io/index.html" class="glyphicon glyphicon-menu-left" aria-hidden="true">
      
     Back</a></li>


</ul>
    
</nav> 

